 <div class="slide-box">
      <div class="bor"></div>
      <div class="padd">
        <div class="slide-box-button">
          <i class="icon-chevron-left"></i>
        </div>
        <h5>Want an appointment?</h5>
          <a href="">Click here to get one!</a>
        <hr />

        
      
      </div>
    </div>
