<!-- Foot starts -->             
<div class="foot">
  <div class="bor"></div>
  <div class="container-fluid">
    <div class="row-fluid footer-line">
      &copy; All rights reserved.<br>
      A.N.G Healing Touch
    </div>
  </div>
</div> 
  <!-- Foot ends -->